# .dataTables_filter label { width: 100% }
.dataTables_info { margin-top: 12px }

.flex-container {
    display: flex;
    flex-flow: column;
}

.flex-body {
    flex: 1 1 auto;
}

.flex-footer {
    flex: 0 1 20pt;
}

h3 {
    margin-top: 30px;
    border-bottom: 1px solid #eee;
}

.message {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
}

.message-key,
.message-ts {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #eee;
}

div.topic_tailer {
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}
